
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 350 79% 60%; /* ярко-розовый */
    --primary-foreground: 210 40% 98%;

    --secondary: 340 62% 93%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 340 62% 93%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 340 70% 98%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 336 79% 90%;
    --input: 336 79% 90%;
    --ring: 350 79% 60%;

    --radius: 0.7rem;
  }

  body {
    font-family: "Playfair Display", serif;
    background: linear-gradient(135deg, #ffe7fa 0%, #ffeaea 50%, #fccde2 100%);
    @apply bg-background text-foreground min-h-screen;
  }
}
